@{
    Layout = "~/views/shared/_UserLayout.cshtml";
}
<!-- recepie_area_start  -->
<div class="recepie_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single_recepie text-center">
                    <div class="recepie_thumb">
                        <img src="~/Home/img/recepie/recpie_1.png" alt="">
                    </div>
                    <h3>Egg Manchurian</h3>
                    <span>Appetizer</span>
                    <p>Time Needs: 30 Mins</p>
                    <a href="#" class="line_btn">View Full Recipe</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single_recepie text-center">
                    <div class="recepie_thumb">
                        <img src="~/Home/img/recepie/recpie_2.png" alt="">
                    </div>
                    <h3>Pure Vegetable Bowl</h3>
                    <span>Appetizer</span>
                    <p>Time Needs: 30 Mins</p>
                    <a href="#" class="line_btn">View Full Recipe</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single_recepie text-center">
                    <div class="recepie_thumb">
                        <img src="~/Home/img/recepie/recpie_3.png" alt="">
                    </div>
                    <h3>Egg Masala Ramen</h3>
                    <span>Appetizer</span>
                    <p>Time Needs: 30 Mins</p>
                    <a href="#" class="line_btn">View Full Recipe</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /recepie_area_start  -->
<div class="dish_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="dish_wrap d-flex">
                    <div class="single_dish text-center">
                        <div class="thumb">
                            <img src="~/Home/img/recepie/recpie_4.png" alt="">
                        </div>
                        <h3>Birthday Catering</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="single_dish text-center">
                        <div class="thumb">
                            <img src="~/Home/img/recepie/recpie_5.png" alt="">
                        </div>
                        <h3>Birthday Catering</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="single_dish text-center">
                        <div class="thumb">
                            <img src="~/Home/img/recepie/recpie_6.png" alt="">
                        </div>
                        <h3>Birthday Catering</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ dish_area start  -->