
@{
    Layout = "~/views/shared/_Homelayout.cshtml";
}

<!-- customer_feedback_area  -->
<div class="customer_feedback_area">
    <div class="container">
        <div class="row justify-content-center mb-50">
            <div class="col-xl-9">
                <div class="section_title text-center">
                    <h3>Testimonial</h3>
                    <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially <br> in the workplace. That’s why it’s crucial that, as women.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="customer_active owl-carousel">
                    <div class="single_customer d-flex">
                        <div class="thumb">
                            <img src="img/testmonial/2.png" alt="">
                        </div>
                        <div class="customer_meta">
                            <h3>Adame Nesane</h3>
                            <span>Chief Customer</span>
                            <p>You're had. Subdue grass Meat us winged years you'll doesn't. fruit two also won one yielding creepeth third give may never lie alternet food.</p>
                        </div>
                    </div>
                    <div class="single_customer d-flex">
                        <div class="thumb">
                            <img src="img/testmonial/1.png" alt="">
                        </div>
                        <div class="customer_meta">
                            <h3>Adame Nesane</h3>
                            <span>Chief Customer</span>
                            <p>You're had. Subdue grass Meat us winged years you'll doesn't. fruit two also won one yielding creepeth third give may never lie alternet food.</p>
                        </div>
                    </div>
                    <div class="single_customer d-flex">
                        <div class="thumb">
                            <img src="img/testmonial/2.png" alt="">
                        </div>
                        <div class="customer_meta">
                            <h3>Adame Nesane</h3>
                            <span>Chief Customer</span>
                            <p>You're had. Subdue grass Meat us winged years you'll doesn't. fruit two also won one yielding creepeth third give may never lie alternet food.</p>
                        </div>
                    </div>
                    <div class="single_customer d-flex">
                        <div class="thumb">
                            <img src="~/Home/img/testmonial/1.png" alt="">
                        </div>
                        <div class="customer_meta">
                            <h3>Adame Nesane</h3>
                            <span>Chief Customer</span>
                            <p>You're had. Subdue grass Meat us winged years you'll doesn't. fruit two also won one yielding creepeth third give may never lie alternet food.</p>
                        </div>
                    </div>
                    <div class="single_customer d-flex">
                        <div class="thumb">
                            <img src="~/Home/img/testmonial/2.png" alt="">
                        </div>
                        <div class="customer_meta">
                            <h3>Adame Nesane</h3>
                            <span>Chief Customer</span>
                            <p>You're had. Subdue grass Meat us winged years you'll doesn't. fruit two also won one yielding creepeth third give may never lie alternet food.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / customer_feedback_area  -->